<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petlover">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MoredetailsActivity"
            android:parentActivityName=".Bottomnavigation"/>
        <activity
            android:name=".ui.setting.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Bottomnavigation" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.splash">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddActivity"
            android:label="Add new pet" />
        <activity android:name=".ui.description.Description" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_bottomnavigation" />
        <activity
            android:name=".Bottomnavigation"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>